@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  paddding: 0;
  max-width: 100%;
}

@keyframes load {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loadLineMove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-101%);
  }
}
@keyframes logoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logoFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    border: 3px solid #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  5% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    border: 1px solid rgba(255, 255, 255, 0.7);
    opacity: 0.4;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.6;
  }
  35% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.8;
  }
  45%, 100% {
    border: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 0;
    width: 350%;
    height: 350%;
  }
}
@keyframes contactMask {
  0%, 100% {
    right: 0;
    width: 0;
  }
  60%, 62% {
    width: 100%;
  }
}
@keyframes btnAni {
  20% {
    border-color: rgba(79, 79, 79, 0.8);
  }
  100% {
    transform: scale(1.8);
    border-color: rgba(79, 79, 79, 0);
  }
}
@keyframes btnAni02 {
  20% {
    border-color: #4f4f4f;
  }
  100% {
    transform: scale(1.8);
    border-color: rgba(79, 79, 79, 0);
  }
}
body {
  background-color: #fff;
  font-family: "Oswald", "Noto Sans TC";
  font-size: 14px;
}
body .loadingArea {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}
body .loadingArea .loadLogo {
  position: absolute;
  left: calc(50% - 124px);
  top: calc(50% - 71px);
  width: 247px;
  height: 142px;
  opacity: 1;
}
body .show {
  opacity: 1;
  pointer-events: auto;
}
body .outerWrap {
  position: relative;
  overflow: hidden;
  opacity: 0;
}
body .outerWrap header {
  position: fixed;
  top: 25px;
  left: 95px;
  width: calc(100% - 190px);
  z-index: 50;
  background-color: #212529;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.22);
  transition: all 0.4s ease;
}
body .outerWrap header .headerWrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
body .outerWrap header .headerWrap .logo {
  width: 120px;
}
body .outerWrap header .headerWrap .logo a {
  background: url(../img/logo.svg) center center/contain no-repeat;
  width: 100%;
  height: 90px;
}
body .outerWrap header .headerWrap .menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 154px);
}
body .outerWrap header .headerWrap .menu .menuWrap {
  display: flex;
  align-items: center;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem {
  display: inline-block;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  padding: 5px 30px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem a span {
  font-size: 19px;
  font-weight: 700;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 65px calc((100% - 1480px) / 2);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.22);
  background-color: #0e6dce;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox {
  padding: 0 20px;
  display: flex;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuTitle {
  width: 250px;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink {
  width: calc(100% - 250px);
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink ul {
  display: flex;
  margin: 0 -15px;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink ul li {
  padding: 5px 15px;
  width: 25%;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink ul li a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink ul li a:hover .title {
  transform: translate(0);
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink ul li a .img {
  display: block;
  width: 100%;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink ul li a .title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink .m_classLink {
  display: none;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink .classLink {
  text-align: center;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink .classLink li {
  display: inline-block;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink .classLink a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin: 0 3px;
  padding: 5px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
  font-size: 13px;
  color: #0e93e7;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink .classLink a:hover {
  color: #fff;
  background-color: #0e93e7;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .submenuBox .submenuOuterBox .submenuLink .classLink a .current {
  color: #fff;
  background-color: #0e93e7;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .languageBox {
  position: relative;
  margin: 0 30px;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .languageBox .languageBtn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 37px;
  border: 1px solid #4f4f4f;
  border-radius: 25px;
  box-sizing: border-box;
  color: #fff;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .languageBox .languageBtn::before {
  content: "";
  position: absolute;
  right: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #FFF transparent transparent transparent;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .languageBox .languageBtn span {
  display: none;
  padding-right: 10px;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .languageBox .languageBtn .main {
  display: inline-block;
  width: 55px;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .languageBox .language {
  display: none;
  position: absolute;
  background-color: #222;
  width: 100%;
  z-index: 1;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .languageBox .language a {
  padding: 5px 20px;
  color: #fff;
  text-align: center;
}
body .outerWrap header .headerWrap .menu .menuWrap .menuItem .languageBox .language .current {
  display: none;
}
body .outerWrap .active {
  top: 0;
  left: 0;
  width: 100%;
}
body .outerWrap .bannerArea {
  clear: both;
  position: relative;
  z-index: 1;
}
body .outerWrap .bannerArea .wrap {
  width: 100%;
  padding: 0;
}
body .outerWrap .bannerArea .wrap .bannerBox {
  position: relative;
  overflow: hidden;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track {
  display: -webkit-box;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide {
  position: relative;
  left: 0px;
  top: 0px;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Img {
  position: relative;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Img img {
  width: 100%;
  display: block;
  backface-visibility: hidden;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  z-index: 10;
  box-sizing: border-box;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .title, body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .subTitle, body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .des {
  transform: translateY(100px);
  opacity: 0;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .title {
  font-size: 71px;
  font-weight: 700;
  line-height: 1;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .subTitle {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.5;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .des {
  font-size: 20px;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .title, body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .subTitle, body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .des {
  transform: translateY(0px);
  opacity: 1;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .title {
  transition: all 0.8s ease;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .subTitle {
  transition: all 1.6s ease;
}
body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .des {
  transform: all 0.6s 0.4s ease;
}
body .outerWrap .bannerArea .wrap .bannerBox .slick-prev, body .outerWrap .bannerArea .wrap .bannerBox .slick-next {
  z-index: 100;
}
body .outerWrap .bannerArea .wrap .bannerBox .slick-prev {
  margin: 0 0 0 50px;
}
body .outerWrap .bannerArea .wrap .bannerBox .slick-next {
  margin: 0 50px 0 0;
}
body .outerWrap .mainArea {
  position: relative;
  padding: 0;
  /* show */  
}
body .outerWrap .mainArea .productArea {
  position: relative;
  padding: 90px 0;
  background: url(../img/index_bg_product.jpg) center center/cover no-repeat;
}
body .outerWrap .mainArea .productArea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 19.7%;
  width: 600px;
  height: 0;
  background-color: rgba(14, 147, 231, 0.25);
  transform-origin: top left;
  transform: skewX(-34.5deg);
}
body .outerWrap .mainArea .productArea .wrap {
  width: 1400px;
  margin: 0 auto;
}
body .outerWrap .mainArea .productArea .wrap .titleBox {
  position: relative;
  margin-bottom: 20px;
  width: 400px;
  color: #fff;
  text-align: right;
}
body .outerWrap .mainArea .productArea .wrap .titleBox .title {
  display: flex;
  align-items: flex-end;
  transform: translateX(-20px);
  opacity: 0;
}
body .outerWrap .mainArea .productArea .wrap .titleBox .title .enTitle {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 62px;
}
body .outerWrap .mainArea .productArea .wrap .titleBox .title .chTitle {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}
body .outerWrap .mainArea .productArea .wrap .titleBox .enTitle {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 62px;
}
body .outerWrap .mainArea .productArea .wrap .show .title {
  transform: translateX(0);
  opacity: 1;
}
body .outerWrap .mainArea .productArea .wrap .show .title .chTitle {
  margin-left: 8px;
  margin-bottom: 15px;
  margin-right: 40px;
}
body .outerWrap .mainArea .productArea .wrap .productBox {
  transition: all 0.6s ease;
  transform: translateY(20px);
  opacity: 0;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList {
  display: flex;
  min-height: 520px;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track {
  display: -webkit-box;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li {
  width: 25%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item {
  margin-top: 40px;
  position: relative;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355 1);
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #242424;
  transition: all 0.4s ease;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item:hover::before {
  background: url(../img/index_product_item_bg.jpg) center center/cover no-repeat;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item:hover .Txt .enTitle {
  color: #242424;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item:hover .Txt .chTitle a {
  color: #242424;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item .Img {
  position: relative;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item .Txt {
  position: relative;
  padding: 15px 25px 40px;
  height: 170px;
  box-sizing: border-box;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item .Txt .enTitle {
  font-size: 26px;
  line-height: 1;
  color: #FFF;
  transition: all 0.4s ease;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item .Txt .chTitle a {
  font-size: 17px;
  color: #FFF;
  transition: all 0.4s ease;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item .Txt .viewBtn {
  margin-top: 15px;
  width: 114px;
  height: 34px;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track li .item .Txt .viewBtn a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 40px;
  color: #fff;
  background-color: #0e93e7;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-list .slick-track .slick-active .item {
  margin-top: 20px;
}
body .outerWrap .mainArea .productArea .wrap .productBox .productList .slick-dots li button {
  color: #FFF;
  text-shadow: 0px 0px 10px #fff;
}
body .outerWrap .mainArea .productArea .wrap .show {
  transform: translateY(0);
  opacity: 1;
}
body .outerWrap .mainArea .coreArea {
  padding: 150px 0 200px;
  background: url(../img/index_bg_core.jpg) center center/cover no-repeat;
}
body .outerWrap .mainArea .coreArea .wrap {
  display: flex;
  justify-content: space-between;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox, body .outerWrap .mainArea .coreArea .wrap .rightBox {
  width: 35%;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox .titleBox, body .outerWrap .mainArea .coreArea .wrap .rightBox .titleBox {
  position: relative;
  margin-bottom: 20px;
  color: #0e93e7;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox .titleBox .enTitle, body .outerWrap .mainArea .coreArea .wrap .rightBox .titleBox .enTitle {
  display: inline-block;
  font-size: 62px;
  line-height: 1;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox .titleBox .chTitle, body .outerWrap .mainArea .coreArea .wrap .rightBox .titleBox .chTitle {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li {
  transform: translateX(-20px);
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li:not(body .outerWrap .mainArea .coreArea .wrap .leftBox ul li:first-child, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li:first-child), body .outerWrap .mainArea .coreArea .wrap .rightBox ul li:not(body .outerWrap .mainArea .coreArea .wrap .leftBox ul li:first-child, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li:first-child) {
  margin-top: 120px;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li .item {
  display: flex;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item .Img, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li .item .Img {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item .Img::before, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li .item .Img::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 25%;
  opacity: 0;
  transition: all 0.4s ease;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item .Img a img, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li .item .Img a img {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 100%;
  transition: all 0.4s ease;
  width: 100%;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item .Txt, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li .item .Txt {
  color: #242424;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item .Txt .enTitle, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li .item .Txt .enTitle {
  font-size: 23px;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item .Txt .enTitle .num, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li .item .Txt .enTitle .num {
  display: inline-block;
  color: #0393e7;
  padding-right: 20px;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item .Txt .chTitle a, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li .item .Txt .chTitle a {
  font-size: 19px;
  font-weight: 500;
  color: #242424;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item .Txt .ellipsis, body .outerWrap .mainArea .coreArea .wrap .rightBox ul li .item .Txt .ellipsis {
  overflow-wrap: break-word;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul .current .item .Img::before, body .outerWrap .mainArea .coreArea .wrap .rightBox ul .current .item .Img::before {
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox .titleBox {
  text-align: right;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item {
  flex-direction: row-reverse;
}
body .outerWrap .mainArea .coreArea .wrap .leftBox ul li .item .Txt {
  text-align: right;
}
body .outerWrap .mainArea .coreArea .wrap .midBox {
  position: relative;
  margin: 0 auto;
  width: 30%;
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .wrap .midBox .Img {
  position: absolute;
  top: 0;
  right: 0;
}
body .outerWrap .mainArea .coreArea .wrap .midBox .dotNumBox .dotNum {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 38px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 50%;
  padding: 4px;
}
body .outerWrap .mainArea .coreArea .wrap .midBox .dotNumBox .dotNum:nth-of-type(1) {
  top: 94px;
}
body .outerWrap .mainArea .coreArea .wrap .midBox .dotNumBox .dotNum:nth-of-type(2) {
  top: 240px;
}
body .outerWrap .mainArea .coreArea .wrap .midBox .dotNumBox .dotNum:nth-of-type(3) {
  top: 390px;
}
body .outerWrap .mainArea .coreArea .wrap .midBox .dotNumBox .dotNum:nth-of-type(4) {
  top: 530px;
}
body .outerWrap .mainArea .coreArea .wrap .midBox .dotNumBox .dotNum span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.4s ease;
}
body .outerWrap .mainArea .coreArea .wrap .midBox .dotNumBox .current span {
  background-color: #0e93e7;
  color: #FFF;
}
body .outerWrap .mainArea .coreArea .wrap .rightBox {
  width: 35%;
}
body .outerWrap .mainArea .coreArea .wrap .coreBox {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 60px auto 0;
  transform: translateY(20px);
  opacity: 0;
}
body .outerWrap .mainArea .coreArea .wrap .coreBox .dotBox {
  margin-top: 30px;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .outerWrap .mainArea .coreArea .wrap .coreBox .dotBox .dot {
  cursor: pointer;
  margin: 2px;
  position: relative;
  width: 30px;
  height: 30px;
}
body .outerWrap .mainArea .coreArea .wrap .coreBox .dotBox .dot::before {
  background-color: #000;
}
body .outerWrap .mainArea .coreArea .wrap .coreBox .dotBox .dot::after {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
body .outerWrap .mainArea .coreArea .show .leftBox ul li:nth-of-type(1) {
  transform: translate(0);
  transition: all 0.6s 0.3 0.2s ease;
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .show .leftBox ul li:nth-of-type(2) {
  transform: translate(0);
  transition: all 0.6s 0.3 0.4s ease;
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .show .leftBox .titleBox .enTitle {
  transition: all 0.8s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .show .leftBox .titleBox .chTitle {
  transition: all 0.6s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .show .midBox {
  transition: all 0.4s ease;
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .show .rightBox ul li:nth-of-type(1) {
  transform: translate(0);
  transition: all 0.6s 0.3 0.6s ease;
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .show .rightBox ul li:nth-of-type(2) {
  transform: translate(0);
  transition: all 0.6s 0.3 0.8s ease;
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .show .coreBox {
  transform: translate(0);
  transition: all 0.6s 3.2s ease;
  opacity: 1;
}
body .outerWrap .mainArea .coreArea .show .coreBox .dotBox .dot::after {
  opacity: 1;
}
body .outerWrap .mainArea .aboutArea {
  position: relative;
  padding: 170px 0 200px;
  background-image: url(../img/index_bg_about.png);
  background-position: right bottom, 127px calc(100% + 25px);
  background-repeat: no-repeat, no-repeat;
}
body .outerWrap .mainArea .aboutArea::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 40.5%;
  width: 600px;
  height: 0;
  background-color: rgba(196, 227, 244, 0.25);
  transform-origin: top left;
  transform: skewX(42deg);
}
body .outerWrap .mainArea .aboutArea .wrap {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}
body .outerWrap .mainArea .aboutArea .wrap .titleBox {
  position: absolute;
  color: #0e93e7;
  top: -28px;
  left: calc(55% + 30px);
  z-index: 1;
}
body .outerWrap .mainArea .aboutArea .wrap .titleBox .enTitle {
  display: inline-block;
  font-size: 62px;
  line-height: 1;
  opacity: 0;
}
body .outerWrap .mainArea .aboutArea .wrap .titleBox .chTitle {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  opacity: 0;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0px 100px 0px 120px;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .Img {
  position: relative;
  width: 55%;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .Img img {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.36);
  display: block;
  transform: translateX(-20px);
  width: 100%;
  opacity: 0;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .Img .viewBtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .Img .viewBtn a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 40px;
  color: #fff;
  background-color: #0e93e7;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right {
  padding-top: 160px;
  padding-left: 50px;
  width: 45%;
  box-sizing: border-box;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt {
  color: #525252;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .advantage {
  margin-top: 30px;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList .slick-list .slick-track {
  display: -webkit-box;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li {
  margin-left: 10px;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li:nth-of-type(odd) .icon::before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li:nth-of-type(odd) .icon::after {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li:nth-of-type(odd) .title {
  bottom: 0;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li:nth-of-type(even) .icon::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li:nth-of-type(even) .icon::after {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li:nth-of-type(even) .title {
  top: 0;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li .item {
  position: relative;
  padding: 45px 0;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li .item .icon {
  position: relative;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li .item .icon::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #626262;
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
  left: 50%;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li .item .icon::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #626262;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li .item .icon img {
  display: block;
  width: 93px;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList li .item .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 400;
  color: #525252;
  white-space: nowrap;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .dotBox {
  margin-top: 30px;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 521px) {
  body .outerWrap .mainArea .aboutArea .wrap .aboutBox .dotBox {
    display: none;
  }
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .dotBox .dot::before {
  background-color: #fff;
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .dotBox .dot::after {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
body .outerWrap .mainArea .aboutArea .wrap .aboutBox .dotBox .stroke {
  stroke: #000;
}
body .outerWrap .mainArea .appArea {
  position: relative;
  padding: 90px 0 400px;
  background: url(../img/index_bg_app.jpg) center center/cover no-repeat;
  box-sizing: border-box;
  overflow: hidden;
}
body .outerWrap .mainArea .appArea .wrap {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}
body .outerWrap .mainArea .appArea .wrap .left {
  width: 460px;
  padding-left: 15px;
  padding-right: 35px;
  box-sizing: border-box;
}
body .outerWrap .mainArea .appArea .wrap .left .titleBox {
  position: relative;
  margin-bottom: 20px;
  text-align: right;
  color: #FFF;
}
body .outerWrap .mainArea .appArea .wrap .left .titleBox .enTitle {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 62px;
  line-height: 1;
  transform: translateX(-20px);
  opacity: 0;
}
body .outerWrap .mainArea .appArea .wrap .left .titleBox .chTitle {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1;
  line-height: 1;
  transform: translateX(-20px);
  opacity: 0;
}
body .outerWrap .mainArea .appArea .wrap .left .topNote {
  padding-top: 25px;
  text-align: right;
  letter-spacing: 1px;
  transform: translateX(-20px);
  opacity: 0;
  color: #d8d7d7;
}
body .outerWrap .mainArea .appArea .wrap .left .topNote .title {
  margin-bottom: 5px;
  font-size: 17px;
  color: #fff;
}
body .outerWrap .mainArea .appArea .wrap .left .wave {
  pointer-events: none;
  position: absolute;
  top: 535px;
  left: 465px;
  transform: translate(-50%, -50%);
  width: 390px;
  height: 390px;
  opacity: 0;
}
body .outerWrap .mainArea .appArea .wrap .left .wave::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200vw;
  height: 8px;
  background-image: url(../img/dotline.png);
  background-repeat: repeat-x;
}
body .outerWrap .mainArea .appArea .wrap .left .wave .wave01 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  box-sizing: border-box;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.9);
}
body .outerWrap .mainArea .appArea .wrap .left .wave .wave02, body .outerWrap .mainArea .appArea .wrap .left .wave .wave03 {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
}
body .outerWrap .mainArea .appArea .wrap .left .wave .wave02::before, body .outerWrap .mainArea .appArea .wrap .left .wave .wave02::after, body .outerWrap .mainArea .appArea .wrap .left .wave .wave03::before, body .outerWrap .mainArea .appArea .wrap .left .wave .wave03::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  border-radius: 50%;
}
body .outerWrap .mainArea .appArea .wrap .left .wave .wave02::before, body .outerWrap .mainArea .appArea .wrap .left .wave .wave02::after {
  opacity: 0;
}
body .outerWrap .mainArea .appArea .wrap .left .wave .wave02::before {
  animation: ripple 5s ease infinite;
}
body .outerWrap .mainArea .appArea .wrap .left .wave .wave02::after {
  animation: ripple 5s linear 0.8s infinite;
}
body .outerWrap .mainArea .appArea .wrap .left .wave .wave03::before {
  animation: ripple 5s linear 1.6s infinite;
}
body .outerWrap .mainArea .appArea .wrap .left .wave .wave03::after {
  animation: ripple 5s linear 2.4s infinite;
}
body .outerWrap .mainArea .appArea .wrap .right {
  width: calc(100% - 460px);
  transform: translateX(20px);
  opacity: 0;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track {
  display: -webkit-box;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li {
  width: 33.3%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item {
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-top: 70px;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Img {
  position: relative;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Img .numBox {
  position: absolute;
  top: -10px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 55px;
  background-color: #242424;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Img .numBox::before, body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Img .numBox::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Img .numBox::before {
  right: 100%;
  border-width: 27.5px 15px 27.5px 0;
  border-color: transparent #242424 transparent transparent;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Img .numBox::after {
  left: 100%;
  border-width: 27.5px 0 27.5px 15px;
  border-color: transparent transparent transparent #242424;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Img .numBox .num {
  font-size: 26px;
  color: #fff;
  letter-spacing: 1px;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Txt {
  padding: 30px 10px 25px;
  background: url(../img/index_bg_core.jpg) center center/cover no-repeat;
  text-align: center;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Txt .enTitle {
  font-size: 24px;
  font-weight: 700;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-list .slick-track li .item .Txt .chTitle a {
  color: #242424;
  font-size: 17px;
}
body .outerWrap .mainArea .appArea .wrap .right .appBox .appList .slick-dots li button::before {
  color: #fff;
  opacity: 1;
}
body .outerWrap .mainArea .productArea.show::before {
  height: 200%;
  transition: all 0.6s ease-in-out;
}
body .outerWrap .mainArea .aboutArea.show .wrap .titleBox .enTitle {
  transition: all 0.8s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .aboutArea.show .wrap .titleBox .chTitle {
  transition: all 0.6s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .aboutArea.show .wrap .aboutBox .Img img {
  transition: all 1s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .aboutArea.show .wrap .aboutBox .Img .viewBtn {
  transition: all 0.6s ease;
  opacity: 1;
}
body .outerWrap .mainArea .aboutArea.show .wrap .aboutBox .right .Txt {
  transition: all 0.6s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .aboutArea.show::before {
  height: 100%;
  transition: all 0.6s ease-in-out;
}
body .outerWrap .mainArea .appArea.show .wrap .left .titleBox .enTitle {
  transition: all 0.8s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .appArea.show .wrap .left .titleBox .chTitle {
  transition: all 0.6s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .appArea.show .wrap .left .topNote {
  transition: all 0.6s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .mainArea .appArea.show .wrap .left .wave {
  transition: all 0.6s ease;
  opacity: 1;
}
body .outerWrap .mainArea .appArea.show .wrap .right {
  transition: all 0.8s ease;
  transform: translate(0);
  opacity: 1;
}
body .outerWrap .contactArea {
  position: relative;
  margin-top: 80px;
  box-sizing: border-box;
  min-height: 500px;
}
body .outerWrap .contactArea::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 0;
  width: 70%;
  height: 0;
  background-color: #e5f0fb;
  transform-origin: top left;
  transform: skewX(-38deg);
  z-index: -1;
  opacity: 0;
}
body .outerWrap .contactArea::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/index_bg_contact.jpg) center center/cover no-repeat;
  opacity: 0;
}
body .outerWrap .contactArea .wrap {
  width: 1400px;
  margin: 0 auto;
}
body .outerWrap .contactArea .wrap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #242424;
  z-index: 1;
}
body .outerWrap .contactArea .wrap .contactBox {
  position: relative;
  padding: 35px 45px 60px;
  width: 410px;
  background-color: #242424;
  transform: translateY(0);
  opacity: 0;
  z-index: 1;
}
body .outerWrap .contactArea .wrap .contactBox .titleBox {
  position: relative;
  margin-bottom: 20px;
  color: #fff;
}
body .outerWrap .contactArea .wrap .contactBox .titleBox .enTitle {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 62px;
  line-height: 1;
}
body .outerWrap .contactArea .wrap .contactBox .titleBox .chTitle {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
}
body .outerWrap .contactArea .wrap .contactBox .right .Txt {
  color: #b5b5b5;
}
body .outerWrap .contactArea .wrap .contactBox .right .viewBtn {
  margin-top: 45px;
}
body .outerWrap .contactArea .wrap .contactBox .right .viewBtn a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 40px;
  color: #fff;
  background-color: #0e93e7;
}
body .outerWrap .goTop {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: #fff;
  letter-spacing: 1px;
  background-color: #0e93e7;
}
body .outerWrap footer {
  position: relative;
  padding: 60px 0 75px;
  background: url(../img/index_bg_footer.jpg) center center/cover no-repeat;
  overflow: hidden;
}
body .outerWrap footer .wrap {
  width: 1640px;
  margin: 0 auto;
  display: flex;
}
body .outerWrap footer .wrap .left {
  width: 125px;
}
body .outerWrap footer .wrap .right {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 245px);
  padding-left: 50px;
  box-sizing: border-box;
}
body .outerWrap footer .wrap .right .infoBox .info {
  padding: 3px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  color: #d8d8d8;
  letter-spacing: 0.5;
}
body .outerWrap footer .wrap .right .infoBox .info .marker {
  font-size: 14px;
  font-weight: 400;
  color: #d8d8d8;
}
body .outerWrap footer .wrap .right .infoBox .copyright {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  color: #555555;
}
body .outerWrap footer .wrap .right .socialBox {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .outerWrap footer .wrap .right .socialBox .social {
  display: flex;
}
body .outerWrap footer .wrap .right .socialBox .contactBtn {
  position: relative;
}
body .outerWrap footer .wrap .right .socialBox .contactBtn::before, body .outerWrap footer .wrap .right .socialBox .contactBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid;
  pointer-events: none;
}
body .outerWrap footer .wrap .right .socialBox .contactBtn::before {
  border-color: #1e1e1e;
  animation: btnAni 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
body .outerWrap footer .wrap .right .socialBox .contactBtn::after {
  border-color: #4f4f4f;
  animation: btnAni02 1.25s 0.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
body .outerWrap footer .wrap .right .socialBox .contactBtn a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  width: 75px;
  height: 75px;
  background-color: #0e93e7;
  color: #fff;
  border-radius: 50%;
  z-index: 1;
}
body .outerWrap footer .wrap .right .socialBox .contactBtn a svg {
  width: 24px;
}
body .outerWrap .contactArea.show::before {
  height: calc(100% + 80px);
  transition: height 0.6s ease;
  opacity: 1;
}
body .outerWrap .contactArea.show::after {
  transition: all 0s 1.32s ease-in-out;
  opacity: 1;
}
body .outerWrap .contactArea.show .wrap::before {
  animation: contactMask 1.2s ease 0.6s;
}
body .outerWrap .contactArea.show .wrap .contactBox {
  transition: all 0.8s ease-in-out;
  transform: translateY(-30px);
  opacity: 1;
}
body .m_menu {
  display: none;
}

@media (max-width: 1180px) {
  body .loadingArea {
    display: none;
  }
  body .outerWrap header {
    display: none;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track {
    display: -webkit-box;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide {
    position: relative;
    left: 0px;
    top: 0px;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Img {
    height: 630px;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    z-index: 10;
    box-sizing: border-box;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .title, body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .subTitle, body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .des {
    transform: translateY(100px);
    opacity: 0;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .title {
    font-size: 71px;
    font-weight: 700;
    line-height: 1;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .subTitle {
    font-size: 44px;
    font-weight: 400;
    line-height: 1.5;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-slide .Txt .des {
    font-size: 20px;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .title, body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .subTitle, body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .des {
    transform: translateY(0px);
    opacity: 1;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .title {
    transition: all 0.8s ease;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .subTitle {
    transition: all 1.6s ease;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .bannerImage .slick-list .slick-track .slick-current .Txt .des {
    transform: all 0.6s 0.4s ease;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .slick-prev, body .outerWrap .bannerArea .wrap .bannerBox .slick-next {
    background-color: #212529;
    width: 50px;
    height: 50px;
    z-index: 100;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .slick-prev {
    margin: 0 0 0 50px;
  }
  body .outerWrap .bannerArea .wrap .bannerBox .slick-next {
    margin: 0 50px 0 0;
  }
  body .outerWrap .mainArea .coreArea .wrap .leftBox {
    width: 25%;
  }
  body .outerWrap .mainArea .coreArea .wrap .midBox {
    width: 70%;
  }
  body .outerWrap .mainArea .coreArea .wrap .midBox .Img {
    top: 70px;
  }
  body .outerWrap .mainArea .aboutArea .wrap .titleBox {
    left: calc(55% + 50px);
  }
  body .outerWrap .mainArea .aboutArea .wrap .aboutBox {
    padding: 0;
  }
  body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right {
    padding-top: 120px;
  }
  body .outerWrap .mainArea .appArea {
    padding: 55px 0;
    background-position: calc(50% - 494px);
    background-color: #0e6dce;
  }
  body .outerWrap .mainArea .appArea .wrap {
    flex-direction: column;
  }
  body .outerWrap .mainArea .appArea .wrap .left {
    width: 100%;
    padding: 0;
  }
  body .outerWrap .mainArea .appArea .wrap .left .wave {
    top: 355px;
    left: 50%;
  }
  body .outerWrap .mainArea .appArea .wrap .right {
    width: auto;
  }
  body .m_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: block;
    width: 100%;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.22);
  }
  body .m_menu .mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
  }
  body .m_menu .controlBox {
    position: relative;
    z-index: 99;
    background-color: #000;
  }
  body .m_menu .controlBox .main {
    position: absolute;
    right: 15px;
    top: calc(50% - 25px);
    width: 51px;
    height: 51px;
    background-color: #0e93e7;
  }
  body .m_menu .controlBox .main span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -0.5px;
    width: 28px;
    height: 1px;
    transition: all 0.5s;
    box-sizing: border-box;
  }
  body .m_menu .controlBox .main span::before, body .m_menu .controlBox .main span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: all 0.5s;
  }
  body .m_menu .controlBox .main span::before {
    top: -4px;
  }
  body .m_menu .controlBox .main span::after {
    bottom: -4px;
  }
  body .m_menu .controlBox .show span::before {
    top: 0;
    transform: rotate(38deg);
  }
  body .m_menu .controlBox .show span::after {
    bottom: 0;
    transform: rotate(-38deg);
  }
  body .m_menu .controlBox .m_logo {
    margin: 0 auto;
    width: 90px;
  }
  body .m_menu .controlBox .m_logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
  body .m_menu .clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  body .m_menu .hideBox {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    width: 100%;
    padding: 145px 0 80px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #000;
    transition: all 0.4s ease;
    transform: translateY(-100%);
  }
  body .m_menu .hideBox .m_menu_ins {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
  }
  body .m_menu .hideBox .m_menu_ins .languageBox {
    display: inline-block;
    margin-left: 105px;
    margin-bottom: 25px;
  }
  body .m_menu .hideBox .m_menu_ins .languageBox .languageBtn {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 37px;
    border: 1px solid #4f4f4f;
    border-radius: 25px;
    box-sizing: border-box;
    color: #fff;
  }
  body .m_menu .hideBox .m_menu_ins .languageBox .languageBtn::before {
    content: "";
    position: absolute;
    right: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #fff transparent transparent transparent;
  }
  body .m_menu .hideBox .m_menu_ins .languageBox .languageBtn span {
    display: block;
  }
  body .m_menu .hideBox .m_menu_ins .languageBox .languageBtn .main {
    display: inline-block;
    width: 55px;
  }
  body .m_menu .hideBox .m_menu_ins .languageBox .language {
    right: 20px;
    width: 95px;
    background-color: #222;
    display: none;
    position: absolute;
  }
  body .m_menu .hideBox .m_menu_ins .languageBox .language a {
    padding: 5px 20px;
    color: #fff;
    text-align: center;
  }
  body .m_menu .hideBox .m_menu_ins .languageBox .language .current {
    display: none;
  }
  body .m_menu .hideBox .m_menu_ins .sp {
    display: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    background-color: #c80303;
  }
  body .m_menu .hideBox .m_menu_ins .nav {
    position: relative;
  }
  body .m_menu .hideBox .m_menu_ins .nav .menuItem a {
    position: relative;
    display: block;
    display: flex;
    align-items: flex-end;
    padding: 10px 25px;
    font-size: 14px;
    color: #b2b2b2;
  }
  body .m_menu .hideBox .m_menu_ins .nav .menuItem a:hover span {
    color: #0e93e7;
  }
  body .m_menu .hideBox .m_menu_ins .nav .menuItem a span {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 19px;
    color: #fff;
    transition: all 0.4s ease;
  }
  body .m_menu .hideBox .m_menu_ins .nav .menuItem .submenuBox {
    display: none;
    padding-left: 90px;
  }
  body .m_menu .hideBox .m_menu_ins .nav .menuItem .submenuBox .submenuOuterBox .submenuTitle {
    display: none;
  }
  body .m_menu .hideBox .m_menu_ins .nav .menuItem .submenuBox .submenuOuterBox .submenuLink ul li a::before {
    display: none;
  }
  body .m_menu .hideBox .m_menu_ins .nav .menuItem .submenuBox .submenuOuterBox .submenuLink ul li a .img {
    display: none;
  }
  body .m_menu .hideBox .m_menu_ins .nav .submenuDown a::before {
    content: "\f078";
    position: absolute;
    right: 10px;
    top: calc(50% - 9px);
    font-size: 19px;
    font-family: FontAwesome;
  }
  body .m_menu .show {
    transition: all 0.4s 0.2s ease;
    transform: translateY(0);
  }
}
@media (max-width: 960px) {
  body .outerWrap .mainArea .coreArea .wrap {
    flex-direction: column;
  }
  body .outerWrap .mainArea .coreArea .wrap .leftBox, body .outerWrap .mainArea .coreArea .wrap .rightBox {
    width: 35%;
  }
  body .outerWrap .mainArea .coreArea .wrap .leftBox {
    width: 100%;
  }
  body .outerWrap .mainArea .coreArea .wrap .leftBox ul {
    display: none;
  }
  body .outerWrap .mainArea .coreArea .wrap .midBox {
    width: 70%;
    height: 631px;
  }
  body .outerWrap .mainArea .coreArea .wrap .rightBox {
    display: none;
  }
  body .outerWrap .mainArea .coreArea .wrap .coreBox {
    position: relative;
    width: 100%;
    max-width: 480px;
    transform: translateY(20px);
    opacity: 0;
  }
  body .outerWrap .mainArea .coreArea .show .leftBox ul li:nth-of-type(1) {
    transform: translate(0);
    transition: all 0.6s 3.2s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .leftBox ul li:nth-of-type(2) {
    transform: translate(0);
    transition: all 0.6s 3.4s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .midBox {
    transition: all 0.4s 1.4s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .midBox .dotNumBox .dotNum:nth-of-type(1) {
    transition: all 0.4s 2.2s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .midBox .dotNumBox .dotNum:nth-of-type(2) {
    transition: all 0.4s 2.4s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .midBox .dotNumBox .dotNum:nth-of-type(3) {
    transition: all 0.4s 2.6s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .midBox .dotNumBox .dotNum:nth-of-type(4) {
    transition: all 0.4s 2.8s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .rightBox ul li:nth-of-type(1) {
    transform: translate(0);
    transition: all 0.6s 3.6s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .rightBox ul li:nth-of-type(2) {
    transform: translate(0);
    transition: all 0.6s 3.8s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .coreBox {
    transform: translate(0);
    transition: all 0.6s 3.2s ease;
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea .show .coreBox .coreList .slick-list .slick-track {
    display: -webkit-box;
  }
  body .outerWrap .mainArea .coreArea.show {
    transform: translate(0);
    opacity: 1;
  }
  body .outerWrap .mainArea .coreArea.show::before {
    height: 200%;
    transition: all 2.4s ease;
  }
  body .outerWrap .contactArea .wrap {
    width: 100%;
    padding: 0 20px;
  }
  body .outerWrap footer .wrap {
    display: block;
  }
  body .outerWrap footer .wrap .left {
    margin: 0 auto;
  }
  body .outerWrap footer .wrap .right {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  body .outerWrap footer .wrap .right .infoBox .info, body .outerWrap footer .wrap .right .infoBox .copyright {
    justify-content: center;
    text-align: center;
  }
  body .outerWrap footer .wrap .right .socialBox {
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 961px) {
  body .outerWrap .mainArea .coreArea .wrap .coreBox {
    display: none;
  }
}
@media (max-width: 840px) {
  body .outerWrap .mainArea .aboutArea {
    padding-top: 100px;
    background-position: right top, 0 100% s;
    background-size: contain, 171px 159px;
  }
  body .outerWrap .mainArea .aboutArea::before {
    top: 60px;
    right: calc(100% - 80px);
  }
  body .outerWrap .mainArea .aboutArea .wrap .titleBox {
    position: relative;
    top: 0;
    left: 0;
  }
  body .outerWrap .mainArea .aboutArea .wrap .aboutBox {
    position: relative;
    padding-bottom: 40px;
    align-items: stretch;
    flex-direction: column;
  }
  body .outerWrap .mainArea .aboutArea .wrap .aboutBox .Img {
    position: static;
    width: 100%;
  }
  body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right {
    padding-top: 45px;
    padding-left: 0;
    width: 100%;
  }
  body .outerWrap .mainArea .aboutArea .wrap .aboutBox .right .Txt .aboutList {
    width: 480px;
    margin: 0 auto;
  }
}
@media (max-width: 520px) {
  body .outerWrap .mainArea .aboutArea .right .Txt .aboutList {
    width: 384px;
  }
}
@media (max-width: 440px) {
  body .outerWrap .mainArea .aboutArea .right .Txt .aboutList {
    width: 288px;
  }
}/*# sourceMappingURL=index.css.map */